<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center;position: absolute;left: 0;right: 0;top: 25%;">
    
    <form >
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary" >Username</ion-label>
          <ion-input [(ngModel)]="login.username" name="username" type="text" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">Password</ion-label>
          <ion-input [(ngModel)]="login.password" name="password" type="password" [required]="true">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button (click)="submit()" expand="block">Login</ion-button>
        </ion-col>
        <!-- <ion-col>
          <ion-button (click)="setLoginData()" expand="block">Set data from typescript</ion-button>
        </ion-col> -->
      </ion-row>
    </form>

  </div> 
  
</ion-content>
