<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="backBtnClicked()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card > 
    <img src="../../assets/download.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Image</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is a test image
    </ion-card-content>
  </ion-card>

</ion-content>
